body{
    padding: 2rem 1rem;
}
h1{
    font-size: 2rem;
    padding: 0.5rem 1rem;
}
button{
    width: 17rem;
    height: 4rem;
    font-size: 2rem;
    margin-top: 2rem;
}
#second-button{
    width: 15rem;
    height: 3.5rem;
    font-size: 1.5rem;
}